@{
    ViewBag.Title = "Contact";
}
<div class="slider-area ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="../../temp/readBy/assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap pt-100">
                        <h2>İletişim</h2>
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home/index">Anasayfa</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!-- ================ contact section start ================= -->
<section class="support-company-area fix pt-10 section-padding30">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section tittle -->
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Turgutlu, MANİSA</h3>
                        <p>"ANA ÜS"</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+1 234 567 8900</h3>
                        <p>7/25 açık</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>destek@readby.com</h3>
                        <p>Buradan da ulaşabilirsin!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="../../temp/readBy/assets/img/gallery/safe_in.png" alt="">
            </div>
            <div class="support-img-cap text-center">
                <span>OFİS</span>
                <p>Adresimiz</p>
            </div>
        </div>
    </div>
</section>
